body {
  /* Choose the background image */
  background-image: url("../images/teras_180_wb.png");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  /* Style the content container */
  position: relative;
  padding: 50px;
  color: #000; /* Change the color to contrast with the background image */
  /* You can add other styles such as font-size, font-family, etc. */
}
